@font-face {
  font-family: "DMsans";
  src: url("DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "DMsans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 2em;
}

.head-text {
  display: flex;
  align-items: center;
  gap: 6em;
  color: black;
}

.head-logo {
  font-weight: 900;
  font-size: 1.5rem;
}

.head-links {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 2em;
}

.head-links a {
  color: black;
}

.head-btn {
  display: flex;
  align-items: center;
  gap: 2em;
}

.btn {
  outline: none;
  border: none;
  background-color: rgb(81, 81, 250);
  padding: 1.2em 1em;
  font-size: medium;
  font-weight: 800;
  color: white;
  border-radius: 12px;
}

.hero {
  display: flex;
  max-width: 95%;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: auto;
}

.hero1,
.hero2 {
  max-width: 40%;
}

.hero2 img {
  max-width: 100%;
}

.hero1 h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1em;
}

.para {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.2rem;
  color: rgb(59, 55, 55);
}

.para1 {
  font-size: 2rem;
}

.para2 {
  font-size: 1.2rem;
  color: rgb(59, 55, 55);
}

.star {
  display: flex;
  max-width: 50%;
  margin-top: 2em;
}

.star img {
  max-width: 9%;
}

.pfp {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.pfp_image {
  max-width: 15%;
}

.pfp_image img {
  max-width: 100%;
  border-radius: 20em;
  border: 5px solid black;
}

.pfp div {
  color: rgb(59, 55, 55);
}

.logo-section {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
  margin-bottom: 14em;
}

.logo-section .header {
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 4em;
}

.logo-container {
  display: flex;
  gap: 8em;
}

.logo-container div img {
  width: 120%;
  opacity: 50%;
}

.benefit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8em;
}

.benefit-section h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.6em;
  max-width: 100%;
}

.Benefits {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.Benefits h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1em;
}

.Benefits p {
  color: rgb(59, 55, 55);
}

.ben {
  display: flex;
  align-items: center;
  gap: 2em;
}

.sub-benefit2,
.sub-benefit1 {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.ben .yellow {
  background-color: rgb(255, 255, 182);
  padding: 4%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ben .red {
  background-color: rgb(255, 207, 207);
  padding: 4%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ben .green {
  background-color: rgb(197, 255, 197);
  padding: 4%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ben .blue {
  background-color: rgb(230, 230, 255);
  padding: 4%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ben div img {
  width: 2em;
}

.perks {
  margin: auto;
  background-color: rgb(0, 0, 44);
  margin-bottom: 4em;
}

.perk-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 8em;
  align-items: center;
  padding: 6em;
}

.perk-img {
  max-width: 50%;
}

.perk-img img {
  max-width: 100%;
}

.perk-text {
  max-width: 40%;
}

.perk-text h2,
.perk-text p {
  color: white;
}

.perk-text h2 {
  font-size: 2.4rem;
  font-weight: 1000;
  margin-bottom: 1em;
  line-height: 110%;
}

.perk-text p {
  font-size: 1.2rem;
  font-weight: 100;
  color: rgb(181, 181, 190);
}

.releases {
  display: flex;
  align-items: center;
  padding: 4em;
  gap: 4em;
  /* margin-bottom: 2em; */
}

.releases-img {
  max-width: 50%;
}

.releases-img img {
  max-width: 100%;
}

.releases-text h2 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 1em;
  line-height: 110%;
}

.releases-text p {
  font-size: 1.2rem;
  font-weight: 100;
  color: rgb(59, 55, 55);
}

.collection {
  display: flex;
  flex-direction: row-reverse;
  padding: 4em;
  gap: 8em;
  align-items: center;
}

.collection-img {
  max-width: 50%;
}

.collection-img img {
  max-width: 100%;
}

.collection-text h2 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 1em;
  line-height: 110%;
}

.collection-text p {
  font-size: 1.2rem;
  font-weight: 100;
  color: rgb(59, 55, 55);
}

.testimonial {
  background-color: rgb(245, 253, 255);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.testimonial-header {
  margin: 1em;
  max-width: 100%;
  text-align: center;
  font-size: 2.1rem;
}
/* 
⠀⠀⠀⠀⠀⣠⡶⠟⠛⠻⢶⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡶⠛⠛⠻⢶⣄⠀⠀⠀⠀
⠀⠀⠀⠀⣼⠏⠀⠀⠀⠀⠀⢹⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣠⣤⣤⣤⣤⣤⣤⣤⣤⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⠋⠀⠀⠀⠀⠀⢻⡆⠀⠀⠀
⠀⣀⣤⠶⠿⠀⠀⠀⠀⠀⠀⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣴⠾⠛⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠉⠙⠛⢶⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⡄⠀⠀⠀⠀⠀⠸⠷⠶⣤⡀
⣴⠟⠁⠀⠀⠀⠀⠀⠀⠀⠙⢿⣄⠀⠀⠀⠀⠀⠀⠀⢀⣴⠟⠋⢀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢙⠷⣦⡀⠀⠀⠀⠀⠀⠀⠀⣩⡿⠓⢀⠀⠀⠀⠀⠀⠀⠈⢻
⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣷⡄⠀⠀⠀⠀⣴⡟⠁⠀⣴⣿⠋⣶⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⠀⠀⣿⣮⠈⢻⣦⠀⠀⠀⠀⢠⣾⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⠹⣧⡀⠀⠀⠀⢠⣆⠀⠀⠀⠀⠀⠈⠻⣦⡀⢀⡾⠋⠀⣠⣾⠟⢡⣾⠟⢀⣼⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⣷⡀⠈⢻⣦⡀⠻⣧⡀⣠⡼⠋⠁⠀⠀⠀⠀⠀⣀⠀⠀⠀⠀⢀⣼
⠀⠈⠻⠶⠶⠾⠛⠙⢷⣆⡀⠀⠀⠀⠀⠈⢹⡿⠁⠀⠀⡟⡁⠰⡿⠃⣠⢿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢙⢿⣄⠀⡹⣿⡄⢸⣿⡋⠀⠀⠀⠀⠀⢀⣴⡞⠋⠛⠶⠶⠶⠛⠁
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢷⣤⡀⠀⠀⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠀⠀⠀⢀⣴⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⣦⡀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢀⣴⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢀⣀⣀⣀⣀⣀⣀⣈⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣛⣁⣀⣀⣀⣀⣀⣀⡀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢸⡟⢯⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⢻⡆⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠘⠿⠾⠶⠶⠶⠶⠶⠶⢶⣷⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⠶⣶⠶⠶⠶⠶⠶⠶⠶⠶⠟⠁⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡀⠀⠀⠀⠀⠀⠀⣠⣴⣾⣶⣶⣦⣀⠀⠀⠀⠀⠀⢀⠀⣠⣴⣾⣶⣶⣤⡀⠀⠀⠀⠀⠀⢰⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣧⠀⠀⠀⠀⢈⣾⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⢬⣾⣿⣿⣿⣿⣿⣿⣿⣦⠀⠀⠀⠠⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣾⡀⠀⠀⣹⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⢰⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⠀⢀⣸⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣥⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⠁⠀⠀⠈⠾⣿⣿⣿⣿⣿⣿⣿⣿⡿⠀⠈⣰⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⣮⠀⠀⠙⢿⣿⣿⣿⣿⣿⠟⠁⠀⠀⠀⠀⠀⠙⢿⣿⣿⣿⣿⣿⠟⠁⢀⣼⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠿⣤⡀⠀⠈⠉⡉⠉⠀⠀⠀⣠⣤⣤⣆⠀⠀⠀⠈⠉⠙⠉⠀⢀⣴⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⣿⣷⣄⣀⠀⠀⠀⠀⠀⠻⠿⠿⠛⠀⠀⠀⠀⠀⣀⣤⡾⣯⡑⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡶⠋⣱⡟⠈⠙⠻⢶⣦⣤⣤⣤⣤⣄⣤⣤⣤⢶⡾⠛⠋⠁⢿⡌⠻⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡾⠋⠀⢠⣿⣄⡀⠀⠀⣾⠀⠀⠀⠠⣹⡏⠀⠀⠀⢸⣇⠀⠀⢀⣼⣷⠀⠈⠻⢦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡾⠋⠀⠀⢀⢸⡇⠉⠛⠳⢦⣿⣄⣀⣀⣀⣸⣇⣀⣀⣠⣬⣿⠶⠞⠋⠁⢼⡆⠀⠀⠀⠙⢷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣠⡶⠶⠳⠶⣦⣴⠞⠋⠀⠀⠀⠀⢸⣸⣯⡀⠀⠀⢰⡇⠈⠉⠉⠉⣹⡏⠉⠉⠁⠀⣿⠀⠀⠀⢀⣼⡇⠀⠀⠀⠀⠀⠙⢷⣤⡴⠾⠳⠶⣦⡀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣼⠏⠀⠀⠀⠀⠘⠁⠀⠀⠀⠀⠀⣠⡿⢻⡏⠛⢶⣤⣸⣇⡀⠀⠀⠀⢸⡇⠀⠀⠀⢀⣻⣆⣤⠾⠋⣹⡿⣦⡀⠀⠀⠀⠀⠀⠉⠀⠀⠀⠀⠈⢻⡆⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣿⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣼⠟⠣⢸⣇⠀⠀⠀⠛⠛⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠛⠛⠀⠀⠀⣼⠇⠘⢿⣇⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡇⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠹⣧⣂⠀⠀⠀⠀⠀⠀⠀⠰⣿⡁⠀⠀⢪⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡿⡀⠀⠁⢩⡿⠂⠀⠀⠀⠀⢀⠀⠀⣴⣾⠃⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠈⠛⠻⣾⠀⠀⠀⠀⠀⠀⢸⡷⠀⠀⠈⠹⣧⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡿⠃⠀⠀⠸⣿⡁⠀⠀⠀⠀⠀⢸⡷⠟⠋⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣆⠀⠀⠀⠀⢀⣼⠇⠀⠀⠀⠀⠙⢷⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣴⠟⠁⠀⠀⠀⠀⡹⣧⠀⠀⠀⠀⢀⣼⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠅⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⢙⡻⢶⠶⠶⢟⣁⠀⠀⠀⠀⠀⠀⠀⠈⣙⠳⠶⣤⣤⣤⣤⣤⣤⣤⡴⠶⣛⣋⠁⠀⠀⠀⠀⠀⠀⠁⢙⡻⠶⡶⠶⣟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀  */

.testimonial-container {
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.testimonial-text {
  background-color: white;
  padding: 3em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 2.3em;
  max-width: 70%;
}

.testimonial-text:hover {
  box-shadow: 0px 34px 104px 0px #12161c1a;
}

.testimonial-text p {
  font-size: 1.1rem;
  font-weight: 100;
  color: rgb(87, 87, 92);
  text-align: center;
  margin: auto;
  margin-top: 0.2em;
}

.testimonial-img {
  max-width: 30%;
  margin: auto;
}

.testimonial-img img {
  max-width: 100%;
  margin: auto;
  border-radius: 100%;
}

.testimonial-info {
  margin: 1em;
  margin-top: 4em;
  text-align: center;
}

.impact {
  background-color: #2563eb;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6em;
  gap: 2em;
  text-align: center;
}

.impact1 h2{
  margin-bottom: 0.7em;
  font-size: 3rem;
}

.impact1 p{
  font-size: 1.2rem;

}

.impact p{
  font-size: 1.1rem;
}

.impact2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7em;
  text-align: center;
  margin-top: 2em;
}

.impact2 h2{
  font-size: 3rem;
}

.sub-impact-text{
  color: #ffffff99;
  margin-top: 0.4em;
}

.bold{
  font-weight: 600;
  margin-top: 1em;
}

.contact{
  display: flex;
}

.contact1{
  max-width: 50%;
}